<!DOCTYPE html>
<html lang="en" class="sm:scroll-smooth">
<head>
    <link rel="shortcut icon" href="/public/images/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/res.css">
    <script src="https://kit.fontawesome.com/489757ffcd.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <title>Unknspec: Admin</title>
</head>
<body class="bg-nord-0 text-nord-5 bg-cover bg-center h-screen">
    <div class="flex flex-row h-full">
        <section class="w-2/12 bg-nord-1 flex flex-col gap-12 px-4 pt-16">
            <h1 class="text-center text-2xl font-bold">Unknspec: Admin</h1>
            <nav class="flex flex-col gap-4">
                <button hx-get="/admin/articles" hx-target="main" hx-swap="innerHTML" class="px-4 py-2 bg-nord-2 text-nord-4 rounded-sm hover:opacity-80 transition-opacity flex justify-between items-baseline">Articles<i class="fa-solid fa-newspaper"></i></button>
            </nav>
            <button class="px-4 py-2 bg-nord-11 text-nord-4 rounded-sm hover:opacity-80 transition-opacity flex justify-between items-baseline">Logout <i class="fa-solid fa-right-from-bracket"></i></button>
        </section>
        <main class="flex flex-col h-full overflow-y-scroll w-10/12 px-10 pt-20 gap-4">
            {{block "home" .}}
            <h1 class="text-3xl text-nord-6 text-center font-bold">Welcome to admin panel</h1>
            {{end}}
        </main>
    </div>
</body>
</html>