<!DOCTYPE html>
<html lang="en" class="sm:scroll-smooth">
<head>
    <link rel="shortcut icon" href="/public/images/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/res.css">
    <script src="https://kit.fontawesome.com/489757ffcd.js" crossorigin="anonymous"></script>
    <title>Unknspec: Admin</title>
</head>
<body class="bg-nord-0 text-nord-5 bg-cover bg-center h-screen" style="background-image: url('/public/images/tiles2.svg');">
    <div class="flex flex-row h-full">
        <section class="w-2/12 bg-nord-1 flex flex-col gap-12 px-4 pt-16">
            <h1 class="text-center text-2xl font-bold">Unknspec: Admin</h1>
            <nav class="flex flex-col gap-4">
                <a href="#" class="px-4 py-2 bg-nord-2 text-nord-4 rounded-sm hover:opacity-80 transition-opacity flex justify-between items-baseline">Dashboard<i class="fa-solid fa-clipboard"></i></a>
                <a href="#" class="px-4 py-2 bg-nord-2 text-nord-4 rounded-sm hover:opacity-80 transition-opacity flex justify-between items-baseline">Articles<i class="fa-solid fa-newspaper"></i></a>
            </nav>
            <a href="#" class="px-4 py-2 bg-nord-11 text-nord-4 rounded-sm hover:opacity-80 transition-opacity flex justify-between items-baseline">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
        </section>
        <main class="flex flex-col h-full overflow-y-scroll w-10/12 px-10 pt-20 gap-4">
            <div class="w-full h-80 bg-nord-3 opacity-80 rounded-sm">
            </div>
        </main>
    </div>
</body>
</html>