<!DOCTYPE html>
<html lang="en" class="sm:scroll-smooth">
<head>
    <link rel="shortcut icon" href="/public/images/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/res.css">
    <script src="https://kit.fontawesome.com/489757ffcd.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
    <title>Unknspec: Admin</title>
</head>
<body class="bg-nord-0 text-nord-5 bg-cover bg-center h-screen">
    <div class="flex flex-row h-full">
        <section class="w-2/12 bg-nord-1 flex flex-col gap-12 px-4 pt-10">
            <h1 class="text-center text-2xl font-bold">Unknspec: Admin</h1>
            <nav class="flex flex-col gap-4">
                <button class="px-4 py-2 bg-nord-2 text-nord-4 rounded-sm hover:opacity-80 transition-opacity flex justify-between items-baseline">Home<i class="fa-solid fa-house"></i></button>
                <button class="px-4 py-2 bg-nord-2 text-nord-4 rounded-sm hover:opacity-80 transition-opacity flex justify-between items-baseline">Articles<i class="fa-solid fa-newspaper"></i></button>
            </nav>
            <button class="px-4 py-2 bg-nord-11 text-nord-4 rounded-sm hover:opacity-80 transition-opacity flex justify-between items-baseline">Logout <i class="fa-solid fa-right-from-bracket"></i></button>
        </section>
        <main class="flex flex-col h-screen w-10/12 px-10 pt-10 gap-5 overflow-y-scroll">
            <h1 class="text-2xl font-bold">Dashboard</h1>
            <div class="flex flex-row gap-5 w-full">
                <div class="grow h-96 bg-nord-1 rounded-lg"></div>
                <div class="w-96 h-96 bg-nord-1 rounded-lg px-4 py-4 flex flex-col justify-center">
                    <h1 class="text-xl font-bold text-center">Uptime</h1>
                    <div class="flex flex-row justify-center gap-3 mt-2">
                        <div class="bg-nord-2 rounded-lg px-3 py-3 text-4xl text-center">12h 12m</div>
                    </div>
                    <h1 class="text-xl font-bold text-center mt-4">Memory usage</h1>
                    <div class="flex flex-row justify-center gap-3 mt-2">
                        <div class="bg-nord-2 rounded-lg px-3 py-3 text-4xl text-center">0.12 / 4 Gb</div>
                    </div>
                    <h1 class="text-xl font-bold text-center mt-3">CPU usage</h1>
                    <div class="flex flex-row justify-center gap-3 mt-2">
                        <div class="bg-nord-2 rounded-lg px-3 py-3 text-4xl text-center">12 %</div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row gap-5 w-full">
                <div class="w-1/2 h-fit bg-nord-1 rounded-lg flex flex-col gap-3 p-5">
                    <h1 class="text-xl font-bold">Todo list:</h1>
                    <div class="flex flex-row gap-3">
                        <input type="text" name="todo" placeholder="enter task" class="grow px-3 py-2 bg-nord-2 rounded-lg">
                        <button class="text-xl py-2 px-3 bg-nord-14 rounded-lg"><i class="fa-solid fa-plus"></i></button>
                    </div>
                    <hr>
                    <div class="flex flex-col w-full gap-4 overflow-y-scroll">
                        <div class="flex flex-row gap-3 px-4 py-2 bg-nord-2 rounded-lg">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima expedita, laborum repellendus suscipit aperiam necessitatibus cumque? Quas optio officiis laborum!</span>
                            <button class="text-xl py-2 px-3 w-12 h-12 bg-nord-12 rounded-lg"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
                <div class="w-1/2 h-fit bg-nord-1 rounded-lg flex flex-col gap-3 p-5">
                    <h1 class="text-xl font-bold">Server logs:</h1>
                    <div class="flex flex-col w-full gap-4 bg-nord-0 p-3 rounded-lg">
                        <span class="border-l-2 border-l-nord-7 pl-3 py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima expedita, laborum repellendus suscipit aperiam necessitatibus cumque? Quas optio officiis laborum!</span>
                        <span class="border-l-2 border-l-nord-7 pl-3 py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima expedita, laborum repellendus suscipit aperiam necessitatibus cumque? Quas optio officiis laborum!</span>
                        <span class="border-l-2 border-l-nord-7 pl-3 py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima expedita, laborum repellendus suscipit aperiam necessitatibus cumque? Quas optio officiis laborum!</span>
                        <span class="border-l-2 border-l-nord-7 pl-3 py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima expedita, laborum repellendus suscipit aperiam necessitatibus cumque? Quas optio officiis laborum!</span>
                        <span class="border-l-2 border-l-nord-7 pl-3 py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima expedita, laborum repellendus suscipit aperiam necessitatibus cumque? Quas optio officiis laborum!</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>