<!DOCTYPE html>
<html lang="en" class="sm:scroll-smooth">
<head>
    <link rel="shortcut icon" href="/public/images/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/res.css">
    <script src="https://kit.fontawesome.com/489757ffcd.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <title>Unknspec: Admin</title>
</head>
<body class="bg-nord-0 text-nord-5 bg-cover bg-center h-screen">
</body>
<main class="flex flex-row h-screen">
    <section class="bg-nord-1 w-3/12 2xl:w-2/12 px-8 py-10">
        <h1 class="text-center text-2xl font-bold">Unknspec: Admin</h1>
        <nav class="flex flex-col my-16 gap-4 text-nord-6 text-xl">
            <a href="#" class="px-4 py-2 transition-opacity hover:opacity-80 bg-nord-2 rounded-lg flex justify-between items-center">
                <span>Dashboard</span>
                <i class="fa-solid fa-table-columns"></i>
            </a>
            <a href="/admin/articles" class="px-4 py-2 transition-opacity hover:opacity-80 bg-nord-2 rounded-lg flex justify-between items-center">
                <span>Articles</span>
                <i class="fa-solid fa-newspaper"></i>
            </a>
            <a href="#" class="px-4 py-2 transition-opacity hover:opacity-80 bg-nord-11 rounded-lg flex justify-between items-center">
                <span>Logout</span>
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </nav>
    </section>
    <section class="w-9/12 2xl:w-10/12 overflow-scroll flex flex-col px-10 py-10 gap-8">
        {{with .article}}
        <h1 class="text-2xl font-bold">Editing: {{.Id.Hex}}</h1>
        <div class="flex flex-row justify-between">
            <div class="rounded-lg flex flex-row flex-grow-0 w-fit overflow-clip">
                <button hx-post="/api/article/{{.Id.Hex}}/edit" type="submit" hx-swap="none" hx-include="[name='title'],[name='abstract'],[name='is_draft'],[name='body'],[name='tag']" class="px-4 py-2 bg-nord-14  hover:opacity-90 transition-opacity">Commite</button>
                <a href="/admin/articles" class="px-4 py-2 bg-nord-15  hover:opacity-90 transition-opacity">Cancel</a>
            </div>
            <a href="#" class="px-4 py-2 bg-nord-11 hover:opacity-90 transition-opacity rounded-lg">Delete</a>
        </div>
        <div class="flex flex-row h-full">
            <div class="flex flex-col w-1/2 pr-4">
                <div class="flex flex-col gap-4">
                    <label class="text-xl">Title</label>
                    <input type="text" name="title" placeholder="enter title..." value="{{.Title}}" class="px-4 py-2 rounded bg-nord-2">
                </div>
                <div class="flex flex-col gap-4 mt-8">
                    <label class="text-xl">Abstract</label>
                    <textarea name="abstract" maxlength="512" rows="auto" placeholder="enter abstract..." class="bg-nord-2 px-4 py-2 rounded-sm resize-none h-52">{{.Abstract}}</textarea>
                </div>
                <div class="flex flex-row gap-4 mt-8 items-baseline">
                    <label class="text-xl">Is Draft</label>
                    <input type="checkbox" name="is_draft" class="bg-nord-2" {{if .IsDraft}} checked{{end}}>
                </div>
            </div>
            <div class="flex flex-col pl-4 h-full w-1/2 gap-4">
                <label class="text-xl">Body</label>
                <textarea name="description" rows="auto" placeholder="enter body..." class="bg-nord-2 px-4 py-2 rounded-sm resize-none h-full">{{.Body}}</textarea>
            </div>
        </div>
        {{end}}
    </section>
</main>
</html>