{{block "articles" .}}
<div class="flex flex-row w-full gap-4">
    <input hx-post="/admin/articles" hx-trigger="keyup delay:500ms changed" hx-target="#articles-list" hx-swap="innerHTML" type="text" name="search" placeholder="search by article title" class="flex-grow bg-nord-1 px-4 py-2 text-xl text-nord-5 rounded-sm">
    <button hx-get="/admin/article" hx-swap="innerHTML" hx-target="main" class="px-4 py-2 bg-nord-13 text-nord-0 text-xl rounded-sm"><i class="fa-solid fa-plus"></i> New Article</button>
</div>
<div id="articles-list" class="overflow-x-auto mt-8">
    {{block "articlesList" .}}
    {{if .articles}}
    <table class="w-full text-left">
        <thead class="bg-nord-1">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    IsDraft
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {{range .articles}}
            <tr class="bg-nord-3 border-b-nord-0">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{.Id.Hex}}
                </th>
                <td class="px-6 py-4">
                    {{.Title}}
                </td>
                <td class="px-6 py-4">
                    {{.IsDraft}}
                </td>
                <td class="px-6 py-4">
                    <button hx-get="/admin/article/{{.Id.Hex}}" hx-target="main" hx-swap="innerHTML" class="px-4 py-2 bg-nord-13 text-nord-0 rounded">Edit</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{else}}
    <h1 class="text-center text-2xl font-bold text-nord-4">Here is no articles</h1>
    {{end}}
    {{end}}
</div>
{{end}}