{{define "adminHeader"}}
<!DOCTYPE html>
<html lang="en" class="sm:scroll-smooth">
<head>
    <link rel="shortcut icon" href="/public/images/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/res.css">
    <script src="https://kit.fontawesome.com/489757ffcd.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
    <title>Unknspec: Admin</title>
</head>
<body class="bg-nord-0 text-nord-5 bg-cover bg-center h-screen">
    <div class="flex flex-row h-full">
{{end}}
{{define "adminFooter"}}
    </div>
</body>
</html>
{{end}}