<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <section id="hero">
        <span id="brand">Unknspec</span>
        <nav>
            <a href="#">Posts</a>
            <a href="#">Apps</a>
        </nav>
    </section>
    <hr>
    <section id="tags">
        <span class="tag">Coding</span>
        <span class="tag">Software</span>
        <span class="tag">Patterns</span>
        <span class="tag">Structures</span>
        <span class="tag">News</span>
    </section>
    <section id="posts">
        <div class="post">
            <span class="title">Lorem ipsum dolor sit amet.</span>
            <div class="tags">
                <span>Tags:</span>
                <span class="tag">Coding</span>
                <span class="tag">Software</span>
            </div>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis placeat officiis quae laudantium sit sequi quos asperiores quis facilis sunt.</span>
        </div>
    </section>
</body>
</html>