<!DOCTYPE html>
<html lang="en" class="sm:scroll-smooth">
<head>
    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/res.css">
    <script src="https://kit.fontawesome.com/489757ffcd.js" crossorigin="anonymous"></script>
    <title>Unknspec: Posts</title>
</head>
<body class="bg-nord-0 text-nord-5 bg-cover bg-center h-screen" style="background-image: url('../public/images/tiles3.svg');">
    <section class="w-full pt-20 flex flex-col justify-center items-center">
        <img src="../public/images/logo.png" alt="Unknspec" class="text-5xl text-center text-nord-8 w-80">
        <nav class="my-6 text-2xl font-bold flex gap-6">
            <a href="#" class="transition-colors hover:text-nord-10">Posts</a>
            <a href="#" class="transition-colors hover:text-nord-10">Apps</a>
        </nav>
    </section>
    <hr class="border-nord-3 w-10/12 mx-auto sm:w-8/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12">
    <main class="w-full mx-auto px-8 py-4 mt-8 sm:w-8/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 bg-nord-1 rounded-sm">
        <article class="prose prose-invert prose-p:text-justify prose-p:mt-0 prose-headings:mt-8 prose-headings:mb-4 prose-blockquote:border-nord-10 prose-blockquote:bg-nord-10 prose-blockquote:bg-opacity-20 prose-blockquote:px-4 prose-blockquote:py-2 prose-figcaption:text-lg prose-pre:whitespace-normal prose-a:text-nord-8 prose-hr:border-nord-3 prose-hr:mb-0 prose-hr:mt-2 prose-figcaption:text-justify">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quidem quis sapiente, quisquam illum vel cumque iste ipsum voluptates fuga architecto minus sit iure quo perspiciatis maxime eaque nemo suscipit, facere a consequuntur? Fuga incidunt amet quia, adipisci eum repellat! Quidem, eaque labore inventore laudantium incidunt accusamus reprehenderit at numquam voluptates cupiditate recusandae quod.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quidem quis sapiente, quisquam illum vel cumque iste ipsum voluptates fuga architecto minus sit iure quo perspiciatis maxime eaque nemo suscipit, facere a consequuntur? Fuga incidunt amet quia, adipisci eum repellat! Quidem, eaque labore inventore laudantium incidunt accusamus reprehenderit at numquam voluptates cupiditate recusandae quod.</p>
            <blockquote>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor rerum vitae sapiente asperiores dicta nostrum!</p>
                <figcaption>Lorem, ipsum dolor.</figcaption>
            </blockquote>
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quidem quis sapiente, quisquam illum vel cumque iste ipsum voluptates fuga architecto minus sit iure quo perspiciatis maxime eaque nemo suscipit, facere a consequuntur? Fuga incidunt amet quia, adipisci eum repellat! Quidem, eaque labore inventore laudantium incidunt accusamus reprehenderit at numquam voluptates cupiditate recusandae quod.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quidem quis sapiente, quisquam illum vel cumque iste ipsum voluptates fuga architecto minus sit iure quo perspiciatis maxime eaque nemo suscipit, facere a consequuntur? Fuga incidunt amet quia, adipisci eum repellat! Quidem, eaque labore inventore laudantium incidunt accusamus reprehenderit at numquam voluptates cupiditate recusandae quod.</p>
            <figure>
                <img src="https://images.unsplash.com/photo-1684018864429-42c0966d71e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2096&q=80" alt="image">
                <figcaption>Fig. 1.1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, perferendis?</figcaption>
            </figure>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quidem quis sapiente, quisquam illum vel cumque iste ipsum voluptates fuga architecto minus sit iure quo perspiciatis maxime eaque nemo suscipit, facere a consequuntur? Fuga incidunt amet quia, adipisci eum repellat! Quidem, eaque labore inventore laudantium incidunt accusamus reprehenderit at numquam voluptates cupiditate recusandae quod <a href="#">[1]</a>.</p>
            <pre>
                <code>
                    var image = document.createElement();
                </code>
            </pre>
            <hr>
            <h2>Bibliography</h2>
            <ol>
                <li>Lorem ipsum dolor sit.</li>
            </ol>
        </article>
    </main>
    <footer class="h-32 bg-nord-2 mt-10 text-nord-4 text-xl flex flex-col justify-center items-center gap-2 sticky top-[100vh]">
        <span class="">Created by <span class="text-nord-8 font-bold transition-colors hover:text-nord-11">SpectralJager</span></span>
        <div class="flex flex-row gap-4">
            <a href="" class=""><i class="fa-brands fa-github"></i></a>            
            <a href="" class=""><i class="fa-solid fa-envelope"></i></a>            
            <a href="" class=""><i class="fa-brands fa-telegram"></i></a>
        </div>
    </footer>
</body>
</html>