{{template "adminHeader"}}
{{template "adminSidenav"}}
<main class="flex flex-col h-screen w-10/12 px-10 pt-10 gap-5 overflow-y-scroll">
    <div class="flex flex-col gap-5 w-1/2 mx-auto">
        <div class="flex flex-row gap-3 items-center">
            <h1 class="text-2xl font-bold">Article</h1>
            <button class="text-xl py-2 px-3 bg-nord-14 rounded-lg"><i class="fa-solid fa-check"></i> Save</button>
            <button class="text-xl py-2 px-3 bg-nord-3 rounded-lg"><i class="fa-solid fa-xmark"></i> Cancel</button>
            <div class="grow"></div>
            <button class="text-xl py-2 px-3 bg-nord-11 rounded-lg"><i class="fa-solid fa-trash"></i> Delete</button>
        </div>
        <div class="w-full rounded-lg flex flex-col gap-3 items-start">
            <h1 class="text-xl font-bold">Is draft</h1>
            <input type="checkbox" name="isDraft">
        </div>
        <div class="w-full rounded-lg flex flex-col gap-3">
            <h1 class="text-xl font-bold">Title</h1>
            <input type="text" name="title" placeholder="enter article title..." class="grow px-3 py-2 bg-nord-2 rounded-lg">
        </div>
        <div class="w-full rounded-lg flex flex-col gap-3">
            <h1 class="text-xl font-bold">Tags</h1>
            <input type="text" name="tags" placeholder="enter tag..." class="grow px-3 py-2 bg-nord-2 rounded-lg">
        </div>
        <div class="w-full rounded-lg flex flex-col gap-3">
            <h1 class="text-xl font-bold">Abstract</h1>
            <textarea name="abstract" placeholder="enter article abstract..." class="grow px-3 py-2 bg-nord-2 rounded-lg"></textarea>
        </div>
        <div class="w-full rounded-lg flex flex-col gap-3">
            <h1 class="text-xl font-bold">Body</h1>
            <textarea name="body" placeholder="enter article body..." class="grow px-3 py-2 bg-nord-2 rounded-lg"></textarea>
        </div>
    </div>
</main>
{{template "adminFooter"}}